#title {
    text-align: center;
}

#stage {
    width: 80vw;
    height: 74vh;
    display: block;
    position: relative;
    border: 4px solid black;
    margin: auto;
}

#stage canvas {
    width: inherit;
    height: inherit;
    position: absolute;
}

#game-layer {
    z-index: 1;
}

#stats-layer {
    z-index: 2;
}

#messages-layer {
    z-index: 3;
}

#ui-layer {
    z-index: 4;
}

#footer {
    text-align: right;
}