#title {
    text-align: center;
}

#stage {
    width: 80vw;
    height: 74vh;
    display: block;
    position: relative;
    border: 1vh solid black;
    margin: auto;
}

#stage canvas {
    width: inherit;
    height: inherit;
    position: absolute;
}

#game-layer {
    z-index: 1;
}

#footer {
    text-align: right;
}